@using TaskManager.AdamResurces
@model IEnumerable<TaskManager.Data.ViewModel.CityVM>
@{
    ViewData["Title"] = "Index";
}


<style>
    .col-12 {
        flex: 0 0 11%;
    }

    .btn {
        color: #457189;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    th {
        text-align: right;
        font-family: 'Cairo', sans-serif;
    }
</style>

<div class="row lang"  style="background-color: white; padding:14px;border-bottom: 1px solid #8BC4DD">
    <div class="col-12 lang">
        <a asp-action="Create" class="btn btn-white" style="background-color: #14AAF6; color: #000000;font-family: 'Cairo', sans-serif; font-size: large; border-radius:5px; "><i class="fas fa-plus" style="color: white;"></i>&nbsp;@_CityVM.AddCity </a>
    </div>
</div>

<div style="margin:50px" clas="lang">
    <table id="City" class="table table-striped border lang">
        <thead style="background-color: #14AAF6" clas="lang">
            <tr >
                <th class="secondary-text lang">
                    <div class="table-header">
                        <span class="column-title ">@Html.DisplayNameFor(m => m.Name)</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title "> @Html.DisplayNameFor(m => m.Country)</span>
                    </div>

                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style="text-align:right; font-family: 'Cairo', sans-serif;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Country)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<input type="hidden" id="hiddenEmployeeId" />
@*delete City using bootstrapmodal*@
<div class="modal fade" id="Mymodaldelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_CityVM.DeleteCity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="MymodalBody">
                <h4> @_UserInfo.Are_you_sure__You_want_to_delete_this__</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@_button.Cancel</button>
                <button type="button" class="btn btn-success" onclick="DeleteEmployee()">@_button.Confirm</button>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            $(".City").parent().addClass('active').siblings().removeClass('active');

            $('#City').DataTable({
                responsive: true
   
            });
        });
        //delete data
        var ConfirmDelete = function (Id) {

            $("#hiddenEmployeeId").val(Id);
            $("#Mymodaldelete").modal("show");
        }
        var DeleteEmployee = function () {

            var CityId = $("#hiddenEmployeeId").val();

            $.ajax({
                type: "GET",
                url: "/Admin/City/DeleteConfrim?CityId=" + CityId,
                success: function (result) {
                    if (result == true) {
                        $("#Mymodaldelete").modal("hide");
                        window.location.reload();
                    } else {
                        $("#Mymodaldelete").modal("hide");
                        window.location.reload();
                    }
                 
                }

            });
        }


    </script>


}