
@using Microsoft.AspNetCore.Identity
@using TaskManager.AdamResurces
@using TaskManager.Data
@using TaskManager.Enums
@using TaskManager.Extensions
@model TaskManager.Data.ViewModel.TaskVM

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<h2 class="text-dark text-center edit-head">@_taskVM.DetailTask</h2>
<div class="col-12 lang" style="padding: 100px">
    <input type="hidden" asp-for="Id" id="InputId" />
    <div class="form-row font">
        <div class="form-group col-md-6 input-cont">
            <label asp-for="ProjectId" class="col-form-label inf-input"></label>
            @Html.DropDownListFor(model => model.ProjectId, new SelectList(ViewBag.Project, "Id", "Name"), new {@disabled = "disabled", @class = "form-control Proj"})
      
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.Name, new { @disabled = "disabled", @class = "form-control" })
            <label asp-for="Name" class="col-form-label inf-input"></label>
        </div>
    </div>
    <div class="form-row font">
        <div class="form-group col-md-6 input-cont">
            <label  class="col-form-label inf-input">@_UserInfo.SelectPriority</label>
            <select asp-for="Priority" disabled class="form-control Priority " asp-items="Html.GetEnumSelectList<Priority>()">
                <option selected="selected" value="">Priority</option>
            </select>
        </div>
        <div class="form-group col-md-6 input-cont">
            <label asp-for="EmployeeId" class="col-form-label inf-input"></label>
            @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.Employee, "Id", "FirstName"), new {@disabled = "disabled", @class = "form-control Emp"})

        </div>
    </div>
    <div class="form-row font">
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @disabled = "disabled", @class = "form-control datepicker" })
            <label asp-for="StartDate" class="col-form-label inf-input"></label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @disabled = "disabled", @class = "form-control datepicker" })
            <label asp-for="EndDate" class="col-form-label inf-input"></label>
        </div>
    </div>

    <div class="form-row font">
        <div class="form-group col-md-6">
            <textarea asp-for="@Model.Description" disabled class="form-control font" rows="3"></textarea>
            <label asp-for="Description" class="tsk-input"></label>
        </div>
        <div class="form-group col-md-6">
            <textarea asp-for="@Model.RequiredDetail" disabled class="form-control font" rows="3"></textarea>
            <label asp-for="RequiredDetail" class="tsk-input"></label>
        </div>
    </div>
    <div class="form-row font">
        <div class="form-group col-md-6">
            <textarea asp-for="@Model.Recommendation" disabled class="form-control font" rows="3"></textarea>
            <label asp-for="Recommendation" class="tsk-input"></label>
        </div>
        <div class="form-group col-md-6">
            <textarea asp-for="@Model.StatusOfAcievement" disabled class="form-control font" rows="3"></textarea>
            <label asp-for="StatusOfAcievement" class="tsk-input"></label>
        </div>
    </div>
    <div class="form-group col-8 col-md-6 col-lg-3">
        @if (Model.FilePath?.Count > 0)
        {
            foreach (var file in Model.FilePath)
            {
                if (file.FileExtenstion == ".pdf" || file.FileExtenstion == ".xlsx" || file.FileExtenstion == ".docx")
                {
                    <a href="~/UploadTask/@file.FileName" target="_blank" style="text-decoration: none">@file.FileName</a><br />

                }

                else
                {
                    <img src="~/@file.FilePath" class="thumbnail mb-3 mr-4 " style="border-radius: 5px; border: 1px solid #ddd; width: 100%; height: 100%; padding: 5px;" />

                }

            }
        }

    </div>
    @if (User.IsInRole(AppHelper.SuperAdminEndUser))
    {
        <div class="form-group text-center font">
            <a asp-action="Edit" asp-route-id="@Model.Id" style="background-color: #10CC7C" class="btn btn-primary ">@_button.Edit</a>
            <a asp-action="Index" style="background-color: #10CC7C" class="btn btn-primary ">@_button.Back_to_List</a>
        </div>
    }
    <div class="form-group col-12  col-md-8 col-lg-9">
        @if (SignInManager.IsSignedIn(User))
        {
            var Db = new ApplicationDbContext();
            var Name = User.Identity.Name;
            var CurrentUser = Db.ApplicationUsers.Where(a => a.Email == Name).SingleOrDefault();
            var UserId = Db.ApplicationUsers.SingleOrDefault(x => x.Email == Name).Id;
            if (User.IsInRole(AppHelper.SuperAdminEndUser))
            {

                var attachment = Db.Attachments.FirstOrDefault(x => x.OwnerId == CurrentUser.Id.ToString() && x.AttachmentOwner == AttachmentOwner.Employees);
                <footer class="bg-light p-4 ">
                    <div class="comment-count mb-4" style="text-align: center">
                        @_taskVM.Comments
                    </div>
                    <div class="reply row no-gutters" id="newComment">
                        <img src="/UploadDefault/@attachment.FileName" class="col-auto avatar mr-2" />
                        <form class="col">
                            <textarea class="p-2 mb-2 w-100" id="text" placeholder="@_taskVM.AddComment..."></textarea>
                            <button type="button" id="submit" class="post-comment-button btn btn-sm btn-secondary " aria-label="Post Comment">
                                @_taskVM.PostComment
                            </button>
                        </form>
                    </div>
                </footer>
            }
            else
            {
                var employeeId = Db.Employees.SingleOrDefault(x => x.UserId == UserId).Id;
                var attachment = Db.Attachments.FirstOrDefault(x => x.OwnerId == employeeId.ToString() && x.AttachmentOwner == AttachmentOwner.Employees);
                var employee = Db.Employees.SingleOrDefault(x => x.UserId == UserId);
                <footer class="bg-light p-4 ">
                    <div class="comment-count mb-4" style="text-align: center">
                        @_taskVM.Comments
                    </div>
                    <div class="reply row no-gutters" id="newComment">
                        <img src="/UploadEm/@attachment.FileName" class="col-auto avatar mr-2" />
                        <form class="col">
                            <textarea class="p-2 mb-2 w-100" id="text" placeholder=@_taskVM.AddComment ....></textarea>
                            <button type="button" id="submit" class="post-comment-button btn btn-sm btn-secondary " aria-label="Post Comment">
                                @_taskVM.PostComment
                            </button>
                        </form>
                    </div>

                </footer>
            }
        }
    </div>



    @*delete employeee using bootstrapmodal*@
    <div class="modal fade" id="Mymodaldelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@_UserInfo.DeleteComment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="MymodalBody">
                    <h4>@_UserInfo.Are_you_sure__You_want_to_delete_this__</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">@_button.Cancel</button>
                    <button type="button" class="btn btn-success font" onclick="DeleteEmployee()">@_button.Confirm</button>
                </div>
            </div>
        </div>

    </div>

    <input type="hidden" id="CommentId" name="EmpIds" />
</div>

@section Scripts
    {
    <script>
        $(".task").parent().addClass('active').siblings().removeClass('active');

        $(".Proj").select2({
            theme: "classic",
            placeholder: "Select Project"

        });
        $(".Emp").select2({
            theme: "classic",
            placeholder: "Select Employee"
        });
        $(".Priority").select2({
            theme: "classic",
            placeholder: "Select Priority"

        });


        $(document).ready(function () {
            // Get Comment

            $("#submit").click(function () {
                var recordId = $("#InputId").val();
                var data = $("#text").val();
                $.ajax({
                    type: "Post",
                    url: "/Admin/task/Comments",
                    data: { data, recordId },
                    success: function (respone) {
                        console.log(respone);
                        var comment = "<div  class='comment row no-gutters mb-6'>" +
                            "<img src='/UploadEm/" +
                            respone.attacment +
                            " '  class='col-auto avatar mr-2'/>" +
                            "<div class='col'>" +
                            "<div class='row no-gutters align-items-center'>" +
                            "<span class='username font-weight-bold mr-4'> " +
                            respone.firstName +
                            ' ' +
                            respone.lastName +
                            "</span>" +
                            "<span class='time text-muted'>" + respone.date + "</span>" +
                            "<button type='button' class='col-auto btn btn-icon' aria-label='more' onclick='ConfirmDelete(" + respone.id + ")'>" +
                            "<i class='icon icon-dots-vertical' ></i>" +
                            "</button>" +
                            "</div>" +
                            "<div class='message inf-input-cmt'> " +
                            data +
                            "</div>" +
                            "<div class='actions row no-gutters align-items-center justify-content-start'>" +
                            "</button> " +
                            " </div> " +
                            " </div> " +
                            " </div>";
                        $("#newComment").before(comment);
                        $("#text").val('');
                    }
                });
            });
            // GetAllComment
            var recordId = $("#InputId").val();

            $.ajax({
                type: "Get",
                url: "/Admin/task/GetAllcommnet?recordId=" + recordId,
                success: function (respone) {
                    if (respone != null) {
                        console.log(respone);
                        for (var i = 0; i < respone.length; i++) {
                            var comment = "<div class='comment row no-gutters mb-6 lang'>" +
                                "<img src='/UploadEm/" +
                                respone[i].attachment +
                                " '  class='col-auto avatar mr-2'/>" +
                                "<div class='col'>" +
                                "<div class='row no-gutters align-items-center'>" +
                                "<span class='username font-weight-bold mr-4'> " +
                                respone[i].firstName +
                                ' ' +
                                respone[i].lastName +
                                "</span>" +
                                "<span class='time text-muted'>" +
                                respone[i].date +
                                "</span>" +
                                "</div>" +
                                "<div class='message inf-input-cmt'> " +
                                respone[i].context +
                                "<button type='button' class='col-auto btn btn-icon' aria-label='more' onclick='ConfirmDelete(" + respone[i].id + ")'>" +
                                "<i class='icon icon-dots-vertical' ></i>" +
                                "</button>" +
                                "</div>" +
                                "<div class='actions row no-gutters align-items-center justify-content-start'>" +
                                "</button> " +
                                " </div> " +
                                " </div> " +
                                " </div>";
                            $("#newComment").before(comment);

                            $("#text").val('');

                        }
                    }

                }
            });
            // delete File
            $(".delete").click(function () {
                var id = $(this).attr('value');
                $.ajax({
                    type: "GET",
                    url: "/Admin/Customer/DeleteFile?Id=" + id,
                    success: function () {
                        window.location.reload();
                    }

                });
            });


        });
        //delete Comment
        var ConfirmDelete = function (id) {

            $("#CommentId").val(id);

            $("#Mymodaldelete").modal("show");
        }
        var DeleteEmployee = function () {
            var ComId = $("#CommentId").val();
            debugger
            $.ajax({
                type: "GET",
                url: "/Admin/task/DeleteComment?ComId=" + ComId,
                success: function (result) {
                    if (result == true) {
                        $("#Mymodaldelete").modal("hide");
                        window.location.reload();
                    } else {
                        $("#Mymodaldelete").modal("hide");
                        window.location.reload();
                    }
                }

            });
        }
    </script>
}
